In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data= pd.read_csv('F:/0.1 ExcelR Institute/Data Science/Assignments/Recommendation system/book.csv',encoding='latin-1')
data.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [3]:
data=df.rename({"User.ID":"userid", "Book.Title":"booktitle", "Book.Rating":"rating"}, axis=1)
data.head()

NameError: name 'df' is not defined

In [ ]:
len(data.userid.unique())
len(data.booktitle.unique())
data.head()

In [ ]:
pivot_table= data.reset_index().pivot_table(index='userid',columns='booktitle',values='rating')
pivot_table

In [ ]:
pivot_table.index=data.userid.unique()
pivot_table

In [ ]:
pivot_table.fillna(0,inplace=True)
pivot_table

In [ ]:
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation

In [ ]:
user_simi=1-pairwise_distances(pivot_table,metric='cosine')
user_simi

In [ ]:
np.fill_diagonal(user_simi,0)
user_simi

In [ ]:
user_simi_df=pd.DataFrame(user_simi)
user_simi_df.head()

In [ ]:
user_simi_df.index=data.userid.unique()
user_simi_df.columns= data.userid.unique()
user_simi_df

In [ ]:
user_simi_df.idxmax(axis=1)

In [ ]:
user_one=data[data.userid==276726]
user_two=data[data.userid==276729]
user_one

In [ ]:
user_two

In [ ]:
pd.merge(user_one,user_two,on='booktitle',how='outer')

In [ ]:
# here, from above tables we can say that it is hard for this case to make good recommendation system because of 9659 booktitle
# and 2182 unique userids, so weak relation between users.